# This group is read both both by the client and the server
# use it for options that affect everything
[client-server]

# This group is read by the server
[mysqld]
user=root

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# include all files from the config directory

socket=/var/lib/mysql/mysql.sock
datadir=/app/mysql
port=3306
log-bin = /app/mysql/mysql-bin
# https://stackoverflow.com/questions/15872543/access-mysql-remote-database-from-command-line
bind-address=0.0.0.0
skip-networking=false
skip-grant-tables=false
skip_name_resolve=false